<h1 class="text-center">Welcome to the Tastay Recipe App!</h1>
<div class="jumbotron d-flex flex-column align-items-center justify-content-between">
    <h2>Search for a recipe or ingredient</h2>
    <div class="form-group d-flex">
        <input class="form-control" name="search" (keydown.enter)="this.apiService.searchRecipe(searchString.value)" #searchString ngModel>
        <button class="btn btn-primary" (click)="this.apiService.searchRecipe(searchString.value)">Search</button>
    </div>
</div>
<router-outlet></router-outlet>

<footer class="footer"></footer>
