<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="loggedIn()">Logout</a>
        <a class="nav-item nav-link" routerLink="login" *ngIf="!loggedIn()">Login</a>
        <a class="nav-item nav-link" routerLink="register" *ngIf="!loggedIn()">Register</a>
    </div>
</nav>

<h1 class="text-center">Welcome to the Tastay Recipe App!</h1>
<div class="jumbotron d-flex flex-column align-items-center justify-content-between">
    <h2>Search for a recipe or ingredient</h2>
    <div class="form-group d-flex">
        <input class="form-control" name="search" (keydown.enter)="searchRecipe(searchString.value)" #searchString ngModel>
        <button class="btn btn-primary" (click)="searchRecipe(searchString.value)">Search</button>
    </div>
    <h4><a routerLink="/lists">View your recipe lists</a></h4>
</div>

<router-outlet></router-outlet>
