<div class="container">
  <div class="row justify-content-center">
    <mat-card class="col-10 col-sm-8 col-m-6">
      <mat-card-title>
        Your recipe lists:
      </mat-card-title>
      <mat-card-content>
        <mat-list *ngIf="recipesLists$">
          <mat-list-item *ngFor="let list of (recipesLists$ | async); last as last">
            <a routerLink="/lists/{{list.id}}">List title: {{list.title}}</a>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

