<div class="container">
  <div class="row justify-content-center">
    <mat-card id="list-item-container" class="col-10 col-sm-8 col-m-6">
      <div class="d-flex justify-content-between">
        <mat-card-title>Your recipe lists:</mat-card-title>
        <app-lists-create-dialog (listCreated)="createList($event)"></app-lists-create-dialog>
      </div>
      <mat-card-content>
        <mat-list *ngIf="recipesLists$ | async as recipesLists">
          <mat-list-item *ngFor="let list of recipesLists; last as last">
            <div class="d-flex justify-content-between w-100">
              <a routerLink="/lists/{{list.id}}">{{list.title}}</a>
              <button mat-raised-button color="warn" (click)="deleteList(list.id)">X</button>
            </div>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
