#list-item-container a {
  line-height: 2rem;
}

#list-item-container button, #list-item-container #new-recipe {
  min-width: 0;
  line-height: 2rem;
}

#list-item-container button.mat-primary, #list-item-container #new-recipe {
  font-size: 2rem;
}
